.navbarContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
}

.sidebar {
  width: 60px;
  background: linear-gradient(180deg, #1e1e1e, #292929);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #444;
  gap: 30px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconItem {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.iconItem:hover {
  transform: scale(1.3);
}

.tooltip {
  position: absolute;
  left: 60px;
  white-space: nowrap;
  background: linear-gradient(to right, #f9b625, #49bfb3);
  color: #fff;
  padding: 8px 14px;
  border-radius: 30px 20px 20px 30px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
  font-size: 0.85rem;
  pointer-events: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.iconWrapper:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}

.learnMenu {
  width: 240px;
  background-color: #fefefe;
  padding: 20px;
  animation: slideIn 0.3s ease-out;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}

.learnItem {
  display: block;
  text-decoration: none;
  color: #333;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.learnItem:hover {
  transform: translateX(5px);
}

.learnItem h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #283f7f;
}

.learnItem p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
