.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  z-index: 100;
}

.sidebar {
  width: 70px;
  background: rgba(20, 20, 30, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-right: 2px solid rgba(255, 255, 255, 0.08);
  box-shadow: 4px 0 20px rgba(0, 255, 255, 0.1);
  gap: 40px;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconItem {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.iconItem img {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.1),
    transparent 70%
  );
  padding: 6px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.iconItem:hover img {
  transform: scale(1.25) rotate(5deg);
  filter: drop-shadow(0 0 10px #49bfb3) brightness(1.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 10px #f9b625,
    0 0 20px #49bfb3;
}

.iconItem:hover {
  transform: scale(1.2);
}

.icon {
  filter: drop-shadow(0 0 5px #49bfb3);
  transition: all 0.4s ease;
}

.iconItem:hover .icon {
  filter: drop-shadow(0 0 10px #f9b625);
}

.tooltip {
  position: absolute;
  left: 75px;
  white-space: nowrap;
  background: linear-gradient(to right, #49bfb3, #f9b625);
  color: #fff;
  padding: 8px 16px;
  border-radius: 30px 20px 20px 30px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
  font-size: 1.1rem;
  pointer-events: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  font-family: "WinkyRoughRegular";
}

.iconWrapper:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}

.learnMenu {
  width: 240px;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  animation: slideIn 0.3s ease-out;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.4);
}

.learnItem {
  display: block;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.learnItem:hover {
  transform: translateX(5px);
  color: #49bfb3;
}

.learnItem h4 {
  margin: 0 0 6px 0;
  font-size: 16px;
  color: #f9b625;
}

.learnItem p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
